<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwCYMBNDiYRw1UAUeOpdr7XezFjxeC9L8</string>
	<key>GCM_SENDER_ID</key>
	<string>105406852174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCrudFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-crud-firebase-3fb9b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-crud-firebase-3fb9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105406852174:ios:9fb5e7ece24c04063f271f</string>
</dict>
</plist>